<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <!--追加-->
    <appSettings>
      <add key="LastName" value="" />
      <add key="FirstName" value="" />
      <add key="Explanation" value="" />
      <add key="Sex" value="Male" />
    </appSettings>
</configuration>